.about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,auto));
    gap: 2rem;
}
.about-img img{
    border-radius: 3rem 0 3rem 3rem;
}
.about-text span{
     font-size: 1rem;
     text-transform: uppercase;
     font-weight: 500;
     color: var(--main-color);
}
.about-text h2{
    font-size: 1.7rem;
}
.about-text p{
    font-size: 0.938rem;
    margin: 1rem 0rem 1rem;
}